name: Run CJ Github Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Run Test Suite
        uses: foreai-co/cj-action@v1
        id: run_cj
        with:
          test_suite_id: '3fb31841-848a-4487-bf0f-e4341d1ed662'
          service_account_key: ${{ secrets.CRITICAL_JOURNEY_SERVICE_ACCOUNT_KEY }}
          wait_timeout_seconds: 360  # = 6 minutes
         
      
      - name: Print result
        run: echo "${{ steps.run_cj.outputs.result }}"
        
